<a href="https://colab.research.google.com/github/Krithip/Algorithm/blob/master/Project129.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import csv
import pandas as pd
df = pd.read_csv("/content/dwarfStar.csv")
df.head()

   Unnamed: 0                      Star_Name  Distance Mass  Radius
0           0  SDSS J000013.54+255418.6 [de]      46.1   48    0.99
1           1        2MASS J00040288-6410358     192.0   19    1.63
2           2                      LHS 102BC       NaN  NaN     NaN
3           3        2MASS J00242463-0158201      37.7   79    1.09
4           4      2MASS J00250365+4759191AB     143.0  NaN     NaN

In [4]:
df.columns

Index(['Unnamed: 0', 'Star_Name', 'Distance', 'Mass', 'Radius'], dtype='object')

In [5]:
df.dtypes

Unnamed: 0      int64
Star_Name      object
Distance      float64
Mass           object
Radius        float64
dtype: object

In [6]:
df = df.dropna()
df.dtypes

Unnamed: 0      int64
Star_Name      object
Distance      float64
Mass           object
Radius        float64
dtype: object

In [7]:
df["Radius"] = 0.102763*df["Radius"]

In [8]:
df["Mass"] = df["Mass"].apply(lambda x:x.replace("$", "").replace(",", "")).astype('float')
df["Mass"] = 0.00954588*df["Mass"]

In [9]:
df.head()
df.columns
df.drop(["Unnamed: 0"], axis = 1, inplace = True)

In [10]:
df.reset_index(drop = True, inplace = True)
df.head()

                       Star_Name  Distance      Mass    Radius
0  SDSS J000013.54+255418.6 [de]      46.1  0.458202  0.101735
1        2MASS J00040288-6410358     192.0  0.181372  0.167504
2        2MASS J00242463-0158201      37.7  0.754125  0.112012
3        2MASS J00274197+0503417     236.0  0.295922  0.147979
4         2MASSW J0030300-145033      87.2  0.515478  0.100708

In [11]:
df.to_csv("convertedStars.csv")